img {
    width: 200px;
}

#row-1 {
    border-style: hidden;
    margin-bottom: 10px;
    padding: 20px;
}

#row-2 {
    border-style: hidden;
    padding: 20px;
}

#row-3 {
    border-style: hidden;
    padding: 20px;
}

#row-3 {
    border-style: hidden;
}

#trip {
    margin-right: 300px;
    margin-left: 100px;
    border: solid;
    align-items: stretch;
    background-color: #4a5a49;
    border-color: ivory;
}

#logo {
    border: solid;
    background-color: #4a5a49;
    border-color: ivory;
    padding: 10px;
}

#campsite {
    margin-left: 100px;
    margin-right: 100px;
    border: solid;
    background-color: #4a5a49;
    border-color: ivory;
}

#prep {
    margin-left: 100px;
    margin-right: 150px;
    border: solid;
    background-color: #4a5a49;
    border-color: ivory;
    
}

#gallery {
    border-style: solid;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    background-color: #4a5a49;
    border-color: ivory;
}

#cubs {
    border-style: solid;
    padding: 20px;
    background-color: #4a5a49;
    border-color: ivory;
}

#copyright {
    height: 75px;
    text-align: justify;
    vertical-align: middle;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.post {
    width: 820px;
    margin-left: auto ;
    margin-right: auto ;
    }

    /* plan html page */