body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}