
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.row {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 45px;
}

.card {
    margin-right: 55px;
    background-color:#4a5a49;;
}

h5 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}