
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.row {
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 45px;
}

.card {
    margin-right: 55px;
    background-color:#4a5a49;;
}

h5 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}